@media (max-width: 1230px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 650px) {
  .bar {
    display: block;
  }
  nav {
    display: none;
  }
}
@media (max-width: 1033px) {
  .myflex2 {
    justify-content: space-around;
  }
}
@media (max-width: 513px) {
  .card {
    width: 80%;
  }
}
